<!doctype html>
<html lang="en">

<head>

  <title>Hello, world!</title>
</head>


<%= form_for(@user, url: login_path, method: 'post') do |f|%>
  <div>
    <%= f.label :email , "帳號" %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :password , "密碼"%>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.submit "登入" %>
  </div>
<% end %>

</html>