<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <h1>使用者註冊</h1>

  <%= form_for(@user, url: '/sign_up', method: 'post' ) do |f| %>
    <% if @user.errors.any?%>
      <ul>
        <% @user.errors.full_messages.each do |message|%>
        <li> <%= message %> </li>
      <% end %>
    </ul>
  <% end %>


  <div>
    <%= f.label :email , "帳號" %>
    <%= f.text_field :email %>

  </div>
  <div>
    <%= f.label :password , "密碼"%>
    <%= f.password_field :password %>

  </div>
  <div>
    <%= f.label :password_confirmation , "確認密碼"%>
    <%= f.password_field :password_confirmation %>
  </div>
  <div>
    <%= f.submit "註冊" %>
  </div>
<% end %>


</body>

</html>