<h1><%= @item.name %></h1>

<ul>
  <li>價錢：<%= @item.price%></li>
</ul>

<hr>
<h3>留言區：</h3>
<%#= form_with model:@comment,url: item_comments_path(@item), local: true do |f|%>
  <%#= f.label :content, "留言" %>
  <%#= f.text_area :content%>
  <%#= f.submit "送出"%>
<%# end  %>

<%= form_for(@comment, url: item_comments_path(@item)) do |f|%>
<div class="form-group">
  <%= f.text_area :content ,class: "form-control"%>
  <%= f.submit class: "btn btn-success"%>
</div>
<% end %>

<ul>
  <% @item.comments.each do |comment| %>
    <div class="alert alert-secondary">
      <p><%=  comment.content %></p>
      <p>posted by <%= comment.user.email %> / <%= comment.created_at%></p>
    </div>
  <% end %>
</ul