<%= image_tag @item.cover.variant(resize_to_limit: [200,
        200]),class:'card-img-top' if @item.cover.attached? %>

<div data-controller="item">
  <h1><%= @item.name %>
    <a href="#" class="btn btn-danger" data-action="item#heart">
      <i class="far fa-heart" data-target="item.icon"></i>
    </a>
  </h1>
  <h2>價錢：<%= @item.price%></h2>
</div>

<hr>

<div data-controller="comment">
  <h3>留言區：</h3>
<%#= form_with model:@comment,url: item_comments_path(@item), local: true do |f|%>
  <%#= f.label :content, "留言" %>
  <%#= f.text_area :content%>
  <%#= f.submit "送出"%>
<%# end  %>

  <%= form_for(@comment, url: item_comments_path(@item), remote: true) do |f|%>

  <input type="hidden" id="item_id" value="<%= @item.id %>">
  
  <div class="form-group">
    <%= f.text_area :content ,
                    class: "form-control",
                    data: {target: "comment.content", 
                    action: 'keyup->comment#check'}%>
    <%= f.submit class: "btn btn-success md-auto",
                  disabled: true,
                  data:{target: 'comment.submit'}%>
  </div>
  <% end %>

  <div class="comments">
    <% @comments.each do |comment| %>
      <%= render 'comments/comment', comment: comment%>
    <% end %>
  </div>
</div>